<div style="background-color: green; color: #fff; padding: 10px; width: 100%">
  <span style="cursor: pointer" routerLink="/"> {{ header }}</span>
  <span
    [routerLink]="['/data', { id: 1001 }]"
    style="float: right; cursor: pointer"
    >data</span
  >
</div>
