<div>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <p>User id :</p>
      {{ user?.userId }}
    </mat-list-item>
    <mat-list-item role="listitem">
      <p>id :</p>
      {{ user?.id }}
    </mat-list-item>
    <mat-list-item role="listitem">
      <p>Title :</p>
      {{ user?.title }}
    </mat-list-item>
    <mat-list-item role="listitem">
      <p>Body :</p>
      {{ user?.body }}
    </mat-list-item>
  </mat-list>
</div>
