<input name="input name" [(ngModel)]="inputName" />
<button (click)="submit()">Submit</button>
<p style="color: red" *ngIf="isEmpty">This field should not be empty</p>
<p>{{ inputName }}</p>
<p>{{ fruits }}</p>