<p>{{ fruits }}</p>
<div *ngFor="let user of users">
  <p>
    <i class="fab fa-airbnb logo" (click)="goToHome(user.id)"></i>
    <span>{{ user.id | currency: "EUR" }}</span>
  </p>
  <p>{{ user.body | uppercase }}</p>
  <p>{{ user.id | sqrt }}</p>
</div>
