/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.submit-button {
  color: #fff;
  background-color: green;
}
.cancel-button {
  color: #fff;
  background-color: red;
}
