<form [formGroup]="loginForm">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Form</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="example-full-width">
        <mat-label>User Name</mat-label>
        <input
          type="email"
          matInput
          formControlName="userNameFormControl"
          placeholder="Ex. pat@example.com"
        />
        <mat-error
          *ngIf="
            loginForm.controls.userNameFormControl.hasError('email') &&
            !loginForm.controls.userNameFormControl.hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error
          *ngIf="loginForm.controls.userNameFormControl.hasError('required')"
        >
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="passwordFormControl" />

        <mat-error
          *ngIf="loginForm.controls.passwordFormControl.hasError('required')"
        >
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit" (click)="login()" class="submit-button">
        Submit
      </button>
      <button mat-button class="cancel-button" (click)="createLoginForm()">
        Cancel
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<div>
  <app-template-form
    [fruits]="fruitsToBeInput"
    (outputValue)="announceOutput($event)"
  ></app-template-form>
</div>
